thisnode "Alice" {
    ip "localhost"
    raftport "5550"
    clientport "5551"
}

othernodes {
    - "Bob" {
        ip "localhost"
        raftport "5552"
        clientport "5553"
    }
    - "Charlie" {
        ip "localhost"
        raftport "5554"
        clientport "5555"
    }
}

timeout milliseconds=3000
dbFilename "alice.sqlite"
