thisnode "Bob" {
        ip "localhost"
        raftport "5552"
        clientport "5553"
    }

othernodes {
    - "Alice" {
        ip "localhost"
        raftport "5550"
        clientport "5551"
    }
    - "Charlie" {
        ip "localhost"
        raftport "5554"
        clientport "5555"
    }
}

timeout milliseconds=4000
dbFilename "bob.sqlite"
